<messageML>
    <h2>Search User Entitlements</h2>
    <br/>
    <form id="entitlements-search-form">
        <h5>Search list of users if they are entitled for {{externalNetwork}}</h5>
        <br/>
        <person-selector name="userlist" placeholder="Select Users" required="true" />
        <br/>
        <div style="display:none">
        <text-field name="externalNetwork">{{externalNetwork}}</text-field>
        </div>
        <button name="submit" type="action">Submit</button>
        <button type="reset">Reset</button>
        <button name="restart_main" type="action">Back to Main Menu</button>
    </form>
</messageML>
