<messageML>
    <h2>Symphony Connect Bot Help Menu</h2>
    <br/>
    <ul>
        <li>{{bot_displayname}} /start - Presents main menu of the bot</li>
        <li>{{bot_displayname}} /help - Presents this help menu</li>
    </ul>
</messageML>
