<messageML>
    <h2>Main Menu</h2>
    <br/>
    <form id="main-menu-form">
        <h5>External Network</h5>
        <select name="externalNetwork" required="true">
          {% for extN in extNetwork_list %}
          <option value="{{extN}}">{{extN}}</option>
          {% endfor %}
        </select>
        <h5>Entitlements</h5>
        <button name="view_delete_entitlements" type="action">Show All User Entitlements</button>
        <button name="search_entitlements" type="action">Search User Entitlements</button>
        <button name="add_entitlements" type="action">Add User Entitlements</button>
        <br/>
        <h5>Permissions</h5>
        <button name="view_edit_permissions" type="action">Show All User Permissions</button>
        <button name="search_permissions" type="action">Search User Permissions</button>
    </form>
</messageML>
