<messageML>
    <h2>Main Menu</h2>
    <br/>
    <form id="main-menu-form">
        <h5>External Network</h5>
        <select name="externalNetwork">
          <option selected="true" value="WHATSAPP">WhatsApp</option>
          <option value="WECHAT">WeChat</option>
          <option value="SMS">SMS</option>
        </select>
        <h5>Entitlements</h5>
        <button name="add_entitlements" type="action">Add User Entitlements</button>
        <button name="view_delete_entitlements" type="action">View / Delete User Entitlements</button>
        <br/>
        <h5>Permissions</h5>
        <button name="view_edit_permissions" type="action">Modify User Permissions</button>
    </form>
</messageML>
